- if flash[:alert]
  %p#notice= flash[:alert]
.car
  %h1 Listing Cars
  %table
    - @cars.each do |car|
      .entry
        = image_tag(car.image, :size => "80x80")
        %h3= car.brand
        %h3= car.model
        %h3= car.energy
        .price_line
          %span.price= number_to_currency(car.price)
          = link_to "Buy", new_user_path(car_id: car),  :class => 'btn btn-primary'
        - if can? :admin,  User
          .link
            = link_to 'Edit', edit_car_path(car),  :class => 'btn btn-primary'
            = link_to 'Destroy', car, method: :delete, data: { confirm: 'Are you sure?' },  :class => 'btn btn-primary'
- if can? :admin,  User
  %br/
  = link_to 'New Car', new_car_path,  :class => 'btn btn-primary'
